<h1><%= @user.username %>'s Profile</h1>
<h2>Favorited Games</h2>
<% gamenum = 1%>
<% @user.games.each do |game| %>
<%= "#{gamenum}. "  %><%= link_to game.name, game_path(game) %><br>
<% gamenum += 1 %>
<% end%><br>
<h2>Favorited Clips</h2>
<% clipnum = 1%>
<% @user.favorite_clips.each do |clip| %>
<%= "#{clipnum}. "  %><%= link_to clip.title, user_favorite_clip_path(@user, clip) %><br>
<% clipnum += 1 %>
<% end%>
