<h1>HOMEPAGE</h1>
<%= button_to 'Check Twitch', controller: 'pages', action: 'update_db' unless !session[:user_id]%>
<h1>Top Games</h1>
<% @games.each do |game| %>
<h2><%= link_to game.name, game_path(game) %></h2>
<%= image_tag(game.img_url) %><br>
<% end%>
<h1>Not Top Games</h1>
<% @not_top_games.each do |game| %>
<h2><%= link_to game.name, game_path(game) %></h2>
<%= image_tag(game.img_url) %><br>
<% end%>
