<h1><%= @game.name %></h1>
<%= image_tag(@game.img_url) %><br>
<%= form_for @game, controller: 'game', action: 'favorite'  do |f| %>
    <%= f.submit 'Add to Favorites' %>
<%end%><br>
<h2>Top Clips</h2>
<% @game.top_clips.each do |clip| %>
<%= link_to clip.title, clip_path(clip) %><br>
<% end %>
<h2><%= "Users Favorite" unless @game.users.empty? %></h2>
<% @game.users.each do |user|%>
<%= link_to user.username, user_path(user) %><br>
<% end%>

