<!DOCTYPE html>
<html>
  <head>
    <title>Mod2TwitchClips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Login', controller: "sessions", action: "new" unless session[:user_id]%>
    <%= link_to "Log Out", logout_path, method: :delete unless !session[:user_id]%><br>
    <%= link_to 'Home', controller: "pages", action: "home" %>
    <%= link_to "Profile", controller: "users", action: "show", id: session[:user_id] unless !session[:user_id]%>
    <br>
    <br>
    <%= yield %>
  </body>
</html>
