<!DOCTYPE html>
<html>
  <head>
    <title>Mod2TwitchClips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Login', controller: "sessions", action: "new" %>
    <%= link_to "Log Out", logout_path, method: :delete %><br>
    <%= link_to 'Home', controller: "pages", action: "home" %>
    <%= link_to "Profile", controller: "users", action: "show", id: @user.id unless !@user.id%>
    <%= @user.username %>
    <br><br>
    <%= yield %>
  </body>
</html>
